In [2]:
#pandas series is like a single column of data
#more like one dimensional array
#can hold data of different datatypes
#each value in a series is associated with an index

import pandas as pd 
ser = pd.Series()
print(ser)
print(ser.dtype)

Series([], dtype: object)
object

In [3]:
#convert numpy array to pandas series
import numpy as np
data = np.array(['a', 'b', 'c', 'd'])
series1 = pd.Series(data)
print(series1)

0    a
1    b
2    c
3    d
dtype: object

In [4]:
# Creating a Series from a list 
data1 = ['Ambrose', 'Benedict', 'Clement', 'Darius']
series2 = pd.Series(data1)
print(series2)

0     Ambrose
1    Benedict
2     Clement
3      Darius
dtype: object

In [5]:
# Creating a Series from a dictionary
data_dict = {'age': 25, 'name': 'John', 'city': 'New York'}
series3 = pd.Series(data_dict)
print(series3)

age           25
name        John
city    New York
dtype: object

In [6]:
#some functions in series
#range() fuction
series4 = pd.Series(range(5, 15))
print(series4)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [12]:
#numpy.linspace() function
series5 = pd.Series(np.linspace(1, 10, 5))
print(series5)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [17]:
#numpy.linspace() function
series6 = pd.Series(np.linspace(1, 10, 5, endpoint=False))
print(series6)

0    1.0
1    2.8
2    4.6
3    6.4
4    8.2
dtype: float64